.Rproj.user
.Rhistory
.RData
.Ruserdata
.html
eah_2018_exploratorio.html
**/eah_2018_exploratorio_files/
.pdf
eah_2018_exploratorio.tex
data/enppd/base_estudio_discapacidad_2018.csv
data/enppd/base_replicas_estudio_discapacidad_2018.csv
data/enppd/archivo_descargado.zip
eah_2018_exploratorio.pdf
data/eder/eder_2019.rar
data/eder/EDER2019_Diseño de registro con IOS.xlsx
data/eder/eder2019_usuarios_IOS.txt
data/eder/eder2019_usuarios_personas.txt
data/eder/eder2019_usuarios_retro_conyuge.txt
data/eder/eder2019_usuarios_retro_hijo.txt
data/eder/eder2019_usuarios_retro.txt
data/georef/respuestas_max1.Rda
data/CUD vigentes residentes en CABA anonimizada 1-10-2025.xlsx
data/georef/resultados_largos_max1.Rda
data/georef/base2.gpkg
base2.gpkg
geocodificacion/tablero_geocod.R
data/georef/base2_georef.gpkg
renv/.gitignore
renv/activate.R
renv/settings.json
