.Rproj.user
.Rhistory
.RData
.Ruserdata
.html
eah_2018_exploratorio.html
**/eah_2018_exploratorio_files/
.pdf
eah_2018_exploratorio.tex
data/enppd/base_estudio_discapacidad_2018.csv
data/enppd/base_replicas_estudio_discapacidad_2018.csv
data/enppd/archivo_descargado.zip
eah_2018_exploratorio.pdf
